header {
  background-color: #666;
  padding: 30px;
  text-align: center;
  font-size: 25px;
  color: white;
}
header:hover{
  background-color: orange;
  font-size: 35px;
  color:black;
  padding-top: 25px;
     -webkit-transition:all 1s ease;
    -moz-transition:all 1s ease;
    -o-transition:all 1s ease;
    -ms-transition:all 1s ease;
    transition:all 1s ease;
}
input:active{
  padding-top: 5px;
  background-color: orange;
  text-decoration-color: blue;
}
.form1{
  align-items: center;
  padding-left: 500px;
  
}

.buton {
background-color:grey;
border:5px solid #18ab29;
cursor:pointer;
color:red;
font-family:Arial;
font-size:15px;
padding:30px 450px;
text-decoration:blink;
position: relative;

}
.buton:hover {
background-color:tomato;
     -webkit-transition:all 1s ease;
    -moz-transition:all 1s ease;
    -o-transition:all 1s ease;
    -ms-transition:all 1s ease;
    transition:all 1s ease;
}
.buton:active {
position:relative;
top:2px;
}
.div1{
  display: inline;
	width:467px;
	height: 387px;
    float:left;
    overflow: hidden;
    background-image:url('Bilgisayar.jpg');
    background-size: 467px 387px; 
    border-radius: 10px;
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,.3);
    box-shadow: 0 0 10px rgba(0,0,0,.3);
}

.div1>img{    
    -webkit-transition:all 1s ease;
    -moz-transition:all 1s ease;
    -o-transition:all 1s ease;
    -ms-transition:all 1s ease;
    transition:all 1s ease;
}

.div1>img:hover{
    opacity:0;
}
.p1{
	font-size: 20px;
	position: absolute;
	margin-left: 20px;
}
.div2{
  display: inline;
	position: absolute;
	margin-left: 500px;
}
.p2{
  display: inline;
	background-color: lightgreen;
	position: relative; 
	color: black;
}
.div3{
  -webkit-transition: all 1s ease;
-moz-transition: all 1s ease;
-o-transition: all 1s ease;
transition: all 1s ease;
opacity: .6;
-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
filter: alpha(opacity=60);
  display: inline;
  position: absolute;
	background-color: lightgreen;
	width: 500px;
  height: 300px;

}
.div3:hover{
opacity: 1.0;
-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
filter: alpha(opacity=100);
}

.Örnekler1{

  display:inline-block;
 
  height: 300px;
  width: 300px;
}
.Örnekler2{
  display: inline-block;
 

  height: 300px;
  width: 300px;
}
.Örnekler3{
  display: inline-block;
 
  height: 300px;
  width: 300px;
}