header {
  background-color: #666;
  padding: 30px;
  text-align: center;
  font-size: 25px;
  color: white;
}

.buton {
background-color:grey;
border:5px solid #18ab29;
cursor:pointer;
color:red;
font-family:Arial;
font-size:15px;
padding:30px 450px;
text-decoration:blink;
position: relative;

}
.buton:hover {
background-color:tomato;
}
.buton:active {
position:relative;
top:2px;
}
.div1{
  display: inline;
	width:467px;
	height: 387px;
    float:left;
    overflow: hidden;
    background-image:url('Bilgisayar.jpg');
    background-size: 467px 387px; 
    border-radius: 10px;
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,.3);
    box-shadow: 0 0 10px rgba(0,0,0,.3);
}

.div1>img{    
    -webkit-transition:all 1s ease;
    -moz-transition:all 1s ease;
    -o-transition:all 1s ease;
    -ms-transition:all 1s ease;
    transition:all 1s ease;
}

.div1>img:hover{
    opacity:0;
}
.p1{
	font-size: 20px;
	position: absolute;
	margin-left: 20px;
}
.div2{
  display: inline;
	position: absolute;
	margin-left: 500px;
}
.p2{
  display: inline;
	background-color: lightgreen;
	position: relative; 
	color: black;
}
.div3{
  display: inline;
  position: absolute;
	background-color: lightgreen;
	width: 300px;
  height: 300px;

}
.div3:active{
background-color: white;
margin-top: 20px;
}

.Örnekler1{
  display:inline-block;
 
  background-color: red;
  height: 300px;
  width: 300px;
}
.Örnekler2{
  display: inline-block;
 
  background-color:blue;
  height: 300px;
  width: 300px;
}
.Örnekler3{
  display: inline-block;
 
  background-color: tomato;
  height: 300px;
  width: 300px;
}